<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}">
</head>

<body>
    <main>
        <fieldset class="fs1">
            {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for i in messages %}
                    <p style="color: red; text-align: center;">{{ i }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="title">
                <h1>Admin Login Form</h1>
            </div>
            <form class="admin-resistration-form" method="post">
                <label for="text-label">Admin ID:</label>
                <input type="text" class="text" name="adminname" value="" placeholder="Enter name or email" minsize="3" maxsize="50" required>
                <label for="password-label">Password:</label>
                <input type="password" class="password" name="adminpassword" value="" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                <span class="Forget">
                    <a href="{{ url_for('adminforgotpassemailverify') }}" class="login">Forgot Password?</a>
                </span>
                
                    <a href="#" class="Button"><button type="submit" class="btn">Login</button></a>
                
                <div class="Login">
                    <p>Don't Have an Account! <a href="{{ url_for('adminregister') }}" class="login">Register</a></p>
                </div>
        </form>
        </fieldset>
    </main>
</body>
</html>