{% extends "adminbase.html" %}
{% block content %}
<h3>All Donations</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Razorpay ID</th>
                <th>Donor</th>
                <th>Campaign</th>
                <th>NGO</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% if donations %}
            {% for donation in donations %}
            <tr>
                <td>{{ donation[0] }} </td>
                <td>₹ {{ "%.2f"|format(donation[4]) }} </td>
                <td> {{ donation[1][:20] }} ...</td>
                <td> {{ donation[6] or donation[7] or 'Anonymous' }} </td>
                <td class="text-center"> {{ donation[13] or 'General' }} </td>
                <td> {{ donation[16] or 'N/A' }} </td>
                <td>
                    <span class="badge bg-{{ 'success' if donation[10] == 'paid' else 'warning' }}">
                         {{ donation[10] }} 
                    </span>
                </td>
                <td>{{ donation[11].strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <p>Details are not shown yet</p>
            {% endif%}
        </tbody>
    </table>
</div>
{% endblock %}