<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/form.css') }}">
    <link rel="stylesheet" href="../static/css/form.css">
</head>
<body>
    <div class="grid-container">
        <div>
            <img src="https://dkprodimages.gumlet.io/campaignImages/19667/Cover2.jpg?format=webp&w=700&dpr=1.3" alt="#img" width="">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repellendus nihil, provident molestiae optio ullam aspernatur aperiam veritatis dolores ratione laudantium cupiditate delectus incidunt maxime consequatur vel quasi et odit?</p>
        </div>
        <div>
            <img src="https://dkprodimages.gumlet.io/campaign/cover/Save-Navleen531821867.jpg?format=webp&w=700&dpr=1.3" alt="#img" width="">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repellendus nihil, provident molestiae optio ullam aspernatur aperiam veritatis dolores ratione laudantium cupiditate delectus incidunt maxime consequatur vel quasi et odit?</p>
        </div>
         <div class="test">
            <form>form</form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>